# dependencies
node_modules/

# python
.venv
__pycache__

# env
.env
backend/.env

# builds
build/
dist/
release
build

# pyinstaller
*.spec

# logs
npm-debug.log*

# vscode
.vscode

release
release/
*.exe