# dependencies
node_modules/

# python
.venv
__pycache__

# env
.env
backend/.env

# builds
build/
dist/
release
build
backend/build/
backend/dist/
backend/**/*.pkg
backend/**/*.exe

# pyinstaller
backend/build/
backend/**/*.pkg

# logs
npm-debug.log*

# vscode
.vscode

release
release/
*.exe